<div class="jumbotron"><center><h1></h1></center>
<center><p> Please Upload Your Recipes Here!</p><%= link_to 'Upload Recipes', recipes_path, class: "btn btn-default btn-lg"%></div></center>
<center><%= image_tag("recipebook.jpg", :alt => "rss feed") %><center>
